/*/*/*
 Table Of Contents

 1.) Homepage
 2.) Home-Agency
 3.) Blog-page
 4.) Blog-Detail-Page
 5.) Event-detail-page
 6.) Error-page
 ===============================================*/

/*Home-page*/
.home {
	font-family: 'Roboto Slab', serif;
}
.banner {
	position: relative;
	text-align: center;
	min-height: 1050px;
}
.banner-content-wrapper {
	width: 776px;
	margin: 0px auto;
	background: rgba(236,231,210,0.7);
	text-align: center;
	padding: 45px 20px 55px;
	position: absolute;
	bottom: 122px;
	right: 0;
	left: 0px;
}
.banner-content-wrapper h1.head-text{
	font-size: 60px !important;
	 color:#433e3e !important; 
	 line-height: 1.4 !important; 
	 text-transform: uppercase !important; 
	 letter-spacing: 10px !important;
	 font-family: 'Roboto Slab', serif !important;
	 font-weight: 500 !important;
}
.home .tp-mask-wrap > div > .tp-splitted > .tp-splitted:nth-child(2) .tp-splitted {
	font-family: 'Playfair Display', serif !important;
	font-style: italic !important;
	font-size: 60px !important;
	color: #433e3e !important;
	margin:0 2px !important;
}
.banner-content-wrapper span {
	margin: 4px 0 0;
}
.banner-content-wrapper .tp-parallax-wrap, .banner-content-wrapper .tp-loop-wrap, .banner-content-wrapper .tp-loop-wrap, .tp-mask-wrap, .banner-caption .tp-parallax-wrap, .banner-caption .tp-loop-wrap {
	position: static !important;
}
.blog-detail-page h1, .blog h1, .event-page h1, .travel-page h1 {
	font-family: 'roboto';
	font-size: 36px;
	font-weight: 700;
	letter-spacing: 6px;
	line-height: 0.8;
	margin-top: 0;
}
.banner-content-wrapper span {
	color: #774f38;
	font-size: 24px;
	line-height: 1.3;
	text-transform: uppercase;
	display: block;
	letter-spacing: 4.7px;
	text-align:center;
}
.happy-couple {
	padding-top: 100px;
	background: #f9f9f4;
}
.header-center {
	text-align: center;
	background: url('public/images/divider-img.png') no-repeat bottom center;
	padding-top: 12px;
	padding-bottom: 18px;
	margin-bottom: 66px;
}
.header-center-content h2 {
	position: relative;
	margin-bottom: 34px;
}
.header-center-content {
	text-align: center;
	padding-bottom: 50px;
}
.travel-page-content {
	padding-top: 100px;
}
.header-center-content h2:after {
	content: "";
	position: absolute;
	background: url('public/images/divider-img.png') no-repeat bottom center;
	width: 400px;
	height: 70px;
	bottom: 0px;
	left: 33%;
}
.bell {
	float: left;
	width: 50%;
	position: relative;
}
.message_pic{

}
.message_pic img{
	border-radius: 6px;
	margin: 0 auto;
	box-shadow: -4px 2px 7px #888, 4px 2px 7px #888;
}
.message_head{
	margin-top: 5%;
	text-align: center;
}
.watermark{
	width: 70%;
}
/*.bell:after {	*/
	/*content: "";*/
	/*width: 95px;*/
	/*height: 95px;*/
	/*position: absolute;*/
	/*display: inline-block;*/
	/*right: -8.5%;*/
    /*top: 12.3%;*/
	/*border: 5px solid #e5e5e5;*/
	/*border-radius:50%;*/
/*}*/
/*.bell:before{*/
	/*content: "\f004";*/
	/*font-size: 36px;*/
	/*color: #fff;*/
	/*font-family: 'FontAwesome';*/
    /*left: 96.8%;*/
    /*margin: 0 auto;*/
    /*position: absolute;*/
    /*right: 0;*/
    /*top: 15.3%;*/
    /*z-index: 999;*/
/*}*/
.jack {
	float: left;
	width: 50%;
}
.inner-header-wrapper-left {
	text-align: right;
	padding: 4px 84px 0px 95px;
}
.inner-header-wrapper-right {
	text-align: left;
	padding: 4px 95px 4px 84px;
}
.inner-header-wrapper {
	position: relative;
    padding-bottom: 354px;
}
.inner-header-wrapper img {
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
	bottom: 0;
}
.inner-header-wrapper-left h3 a, .inner-header-wrapper-right h3  a{
	font-size: 30px;
	font-family: 'Roboto Slab', serif;
	line-height: 1.3;
	color: #e08e79;
	text-transform: capitalize;
	font-weight: 300;
	padding-top: 60px;
	padding-bottom: 15px;
	position: relative;
	display: block;
}
.event-description h3 a{
	position: relative;
}
.inner-header-wrapper-right h3 a:after,.inner-header-wrapper-left h3 a:after,.event-description h3 a:after {
	content: '';
	position: absolute;
	height: 2px;
	width: 70px;
	left:0;
	bottom: 0;
}
.event-description h3 a:after {
	bottom:-12px;
}
.inner-header-wrapper-left h3 a:after{
	left:auto;
	right:0;
}
.inner-header-wrapper-left p, .inner-header-wrapper-right p {
	font-family: 'Roboto';
	font-weight: 300;
	line-height: 1.5;
}
.count-down {
	text-align: center;
	padding: 87px 20px;
}
.count-down ul {
	display: inline-block;
	position: relative;
	width: 70%;
	padding: 25px 0 0;
}
.count-down .countdown-section {
	float: left;
	width: 25%;
	position: relative;
}
.count-down .countdown-section:after {
	background: #f1d4af;
	content: "";
	width: 2px;
	height: 100%;
	position: absolute;
	right: 0px;
	top: 0px;
}
.count-down .countdown-section:last-child:after {
	background: none;
}
.count-down .countdown-amount {
	font-size: 60px;
	font-family: 'Roboto Slab', serif;
	font-weight: 300;
	color: #774f38;
	line-height: 0.7;
}
.count-down .countdown-period {
	display: block;
	font-size: 16px;
	text-transform: uppercase;
	font-family: 'Roboto', sans-serif;
	line-height: 0.7;
	margin: 19px 0 0;
	letter-spacing: 1.2px;
}
.our-story {
	/*background: url('shadi/public/images/our-story-cover.jpg') no-repeat top center;*/
	/*background:rgba(255, 0, 255, 0.21);*/
	background:#790079;
	padding: 145px 20px 112px;
	text-align: center;
	-webkit-background-size: cover;
	background-size: cover;
}
.our-story p {
	font-size: 36px;
	font-family: "playfair display";
	font-style: italic;
	line-height: 1.3;
	padding-left: 29px;
	padding-right: 45px;
	padding: 0 10px;
	/*color: #3f3f3f;*/
	color: #ffffff;
	font-weight: 400;
}
.our-success-Story {
	text-align: center;
	padding-top: 111px;
	padding-bottom: 167px;
	/*background: #f9f9f4;*/
	background: rgb(255, 233, 232);
}
.timeline-scale {
	background: url('../images/bird-icon.png') no-repeat top center;
	width: 230px;
	height: 74px;
	margin: 0px auto;
	-webkit-background-size: 93% 93%;
	background-size: 93% 93%;
	text-align: center;
	position: relative;
}
.time-line-divider:before {
	font-size: 16px;
	content: "";
	font-family: FontAwesome;
	position: absolute;
	right: -16px;
	top: -35px;
	color: #fff;
	width: 36px;
	height: 36px;
	border-radius: 50px;
	padding-top: 11px;
	text-align: center;
	display: inline-block;
}
.time-line-divider:after {
	font-size: 16px;
	content: "";
	font-family: FontAwesome;
	position: absolute;
	right: -16px;
	bottom: -4px;
	background: #e08e79;
	color: #fff;
	width: 36px;
	height: 36px;
	border-radius: 50px;
	padding-top: 11px;
	text-align: center;
	display: inline-block;
}
.left-right-wrapper {
	position: relative;
}
.time-line-divider {
	width: 1px;
	height: 100%;
	background: #f3d5af;
	left: 50%;
	top: 40px;
	position: absolute;
	display: inline-block;
}
.left-right-wrapper {
	padding-top: 142px;
}
.left-section-content {
	float: left;
}
.met-section, .met-section-right {
	width: 520px;
	border: 1px solid #f3d5af;
	padding: 40px 32px 40px 33px;
	text-align: right;
	margin-bottom: 99px;
	position: relative;
	background: #ffffff;
}
.met-section p, .met-section-right p {
	padding-bottom: 32px;
	line-height: 1.5;
	font-family: roboto;
	font-weight: 300;
}
.met-section:after {
	font-size: 16px;
	/*content: "\f067";*/
	content: "";
	font-family: FontAwesome;
	position: absolute;
	right: -13.5%;
	top: 93px;
	color: #fff;
	width: 36px;
	height: 36px;
	border-radius: 50px;
	padding-top: 11px;
	text-align: center;
	display: inline-block;
}
.met-section-right:after {
	font-size: 16px;
	content: "";
	font-family: FontAwesome;
	position: absolute;
	left: -68px;
	top: 93px;
	background: #e08e79;
	color: #fff;
	width: 36px;
	height: 36px;
	border-radius: 50px;
	padding-top: 11px;
	text-align: center;
	display: inline-block;
}
.arrow-cls {
	background: #c5e0dc;
	padding: 8px 15px;
	display: inline-block;
	color: #555555;
	position: relative;
	margin-right: 16px;
	margin-bottom: 27px;
}
.arrow-cls:before {
	content: "";
	background: url('../images/arrow.png') no-repeat top center;
	width: 400px;
	height: 35px;
	position: absolute;
	right: -77px;
	top: 5px;
	display: inline-block;
}
.right-arrow-cls {
	margin-left: 16px;
	margin-bottom: 37px;
}
.met-section-right > figure, .met-section > figure {
	padding-bottom: 28px;
}
.met-section-right > p {
	line-height: 1.6;
}
.met-section > h3 {
	margin: 0 0 16px;
}
.right-arrow-cls:before {
	left: -77px;
	top: -9px;
	-ms-transform: rotate(180deg); /* IE 9 */
	-webkit-transform: rotate(180deg); /* Safari */
	transform: rotate(180deg); /* Standard syntax */
}
.css-shape {
	position: relative;
	font-family: roboto;
	text-transform: uppercase;
}
.css-shape:before {
	content: "";
	position: absolute;
	width: 0;
	height: 0;
	border-top: 17px solid transparent;
	border-right: 15px solid #c5e0dc;
	border-bottom: 17px solid transparent;
	left: -29px;
	top: -7px;
}
.css-shape:after {
	width: 0;
	content: "";
	position: absolute;
	height: 0;
	border-top: 17px solid transparent;
	border-left: 15px solid #c5e0dc;
	border-bottom: 17px solid transparent;
	right: -29px;
	top: -7px;
}
.met-section {
	margin-bottom: 95px;
	text-transform: capitalize;
}
.event-description h3{
	position: relative;
}

.gallery-title
{
	font-size: 36px;
	color: #42B32F;
	text-align: center;
	font-weight: 500;
	margin-bottom: 70px;
}
.gallery-title:after {
	content: "";
	position: absolute;
	width: 7.5%;
	left: 46.5%;
	height: 45px;
	border-bottom: 1px solid #5e5e5e;
}
.filter-button
{
	font-size: 18px;
	border: 1px solid #42B32F;
	border-radius: 5px;
	text-align: center;
	color: #42B32F;
	margin-bottom: 30px;

}
.filter-button:hover
{
	font-size: 18px;
	border: 1px solid #42B32F;
	border-radius: 5px;
	text-align: center;
	color: #ffffff;
	background-color: #42B32F;

}
.btn-default:active .filter-button:active
{
	background-color: #42B32F;
	color: white;
}

.port-image
{
	width: 100%;
}

.designation{
	font-size: 12px !important;
}

.w3l_inner_section {
	padding:5em 0;
}
.w3ls_banner_section.second {
	background: url(../images/inner_bg.jpg) no-repeat 0px 0px;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	-ms-background-size: cover;
	min-height: 260px;
	position: relative;
	text-align: center;
}
.wthree_title_agile{
	text-align:center;
	position:relative;
}
.wthree_title_agile p{
	font-size:2em;
	color: #fc3158;
	position:relative;
}
.wthree_title_agile p:before,.wthree_title_agile p:after{
	content: '';
	background: #212121;
	height: 2px;
	width: 14%;
	position: absolute;
	top:28%;
}
.wthree_title_agile p:before{
	left:41%;
}
.wthree_title_agile p:after{
	right:41%;
}
.wthree_title_agile h3,.wthree_title_agile h2{
	font-size:4em;
	color: #147efb;
	letter-spacing: 1px;
}
.inner_w3l_agile_grids {
	margin-top: 2em;
}
.w3_tabs_grid {
	float: left;
	width: 33%;
}
.grid {
	position: relative;
	margin: 0 auto;
	list-style: none;
	text-align: center;
}
.grid figure {
	position: relative;
	overflow: hidden;
	text-align: center;
	cursor: pointer;
}
.grid figure img {
	position: relative;
	display: block;
	width: 100%;
	opacity: 0.3;
}
.agile-homes-w3l.grid figure figcaption {
	padding: 5em 4em;
	color: #fff;
	font-size: 1.3em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.grid h1 {
	display: block;
	width: 100%;
	height: 100px;
	background: whitesmoke;
	border-radius: 4px;
	list-style: none;
	cursor: pointer;
	transition: .5s ease-in;
	-webkit-transition: .5s ease-in;
	-moz-transition: .5s ease-in;
	-o-transition: .5s ease-in;
	-ms-transition: .5s ease-in;
}
.grid h1:hover{
	border-bottom: none;
	background: #fc3158;
	color:#000;
}
.grid h1 span {
	padding: 10px;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
	pointer-events: none;
}

.grid figure figcaption {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
figure.effect-winston {
	text-align: left;
}

figure.effect-winston img {
	-webkit-transition: opacity 0.45s;
	transition: opacity 0.45s;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

figure.effect-winston figcaption::before {
	position: absolute;
	top: 0;
	left: 10px;
	width: 100%;
	height: 100%;
	background: url(../images/triangle.svg) no-repeat center center;
	background-size: 100% 100%;
	content: '';
	-webkit-transition: opacity 0.45s, -webkit-transform 0.45s;
	transition: opacity 0.45s, transform 0.45s;
	-webkit-transform: rotate3d(0,0,1,45deg);
	transform: rotate3d(0,0,1,45deg);
	-webkit-transform-origin: 0 100%;
	transform-origin: 0 100%;
}

figure.effect-winston:hover img {
	opacity: 0.6;
}

figure.effect-winston:hover figcaption::before {
	opacity: 0.7;
	-webkit-transform: rotate3d(0,0,1,20deg);
	transform: rotate3d(0,0,1,20deg);
}

figure.effect-winston p {
	position: absolute;
	right: 0;
	bottom: 0;
	padding: 3em 1em 4% 0;
}

figure.effect-winston p span {
	margin: 0 0 0 1em;
	color: #fc3158;
	font-size: 1em;
}

figure.effect-winston p span:hover{
	color:#212121;
}

figure.effect-winston:hover p span {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

figure.effect-winston p span {
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(0,50px,0);
	transform: translate3d(0,50px,0);
}

figure.effect-winston:hover p:nth-child(3) span {
	-webkit-transition-delay: 0.05s;
	transition-delay: 0.05s;
}

figure.effect-winston:hover p:nth-child(2) span {
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}

figure.effect-winston:hover p:first-child span{
	-webkit-transition-delay: 0.15s;
	transition-delay: 0.15s;
}

.right-section-content {
	float: right;
	padding-top: 144px;
}
.read-more {
	font-size: 14px;
	display: inline-block;
	border: 1px solid #e08e79;
	padding: 17px 23px;
	text-transform: uppercase;
	font-family: 'roboto';
}
.read-more i {
	margin-left: 6px;
}
.read-more:hover, .circle-class:hover {
	color: #fff;
	-webkit-transition: ease 0.5s;
	-moz-transition: ease 0.5s;
	-ms-transition: ease 0.5s;
	-o-transition: ease 0.5s;
	transition: ease 0.5s;
}
.met-section-right {
	text-align: left;
	padding-bottom: 49px;
}
.met-section-right ul {
	padding-bottom: 22px;
}
.met-section-right ul li {
	float: left;
}
.wedding-event {
	padding-bottom: 100px;
	background: rgb(255, 233, 232);
	/*background: #f9f9f4;*/
	/*background: rgba(255, 192, 203, 0.79);*/
}
.wedding-event-top {
	padding-top: 97px;
	/*background: #ffffff;*/
	background: lightpink;
}
.wedding-event figure, .wedding-event .event-description {
	padding-top: 86px;
	padding-left: 83px;
}
.event-description {
	padding-right: 93px;
}
.event-description-wrapper {
	background-image: url("../images/icon-left-top.png"), url("../images/icon-right-top.png"), url("../images/icon-left-bottom.png"), url("../images/icon-right-bottom.png");
	background-position: 5px 4px, 99% 4px, 5px 99%, 99% 99%;
	background-repeat: no-repeat;
	width: 556px;
	min-height: 565px;
	margin-top: 142px;
	border: 2px solid #c5e0dc;
	background-color: #fff;
	position: relative;
	margin-bottom: 71px;
	z-index: 999;
}
.event-description-wrapper:before {
	border-radius: 50px;
	color: #ffffff;
	content: "";
	display: inline-block;
	font-family: FontAwesome;
	font-size: 36px;
	height: 84px;
	padding-top: 21px;
	position: absolute;
	right: 93%;
	text-align: center;
	top: 41%;
	width: 84px;
	border: 4px solid #e5e5e5;
}
.padding-right figure {
	padding-left: 0px;
}
.reception-description-sec:before {
	right: -43px;
}
.day-class, .map-class, .clk-class, .venue-class {
	position: relative;
	font-size: 16px;
	text-transform: uppercase;
	display: block;
	line-height: 1.5;
	font-weight: 300;
	margin-left: 25px;
	padding-left: 10px;
	font-family: roboto;
	color: #757575;
	letter-spacing: 1px;
}
.venue-class {
	text-transform: capitalize;
	padding-bottom: 15px;
}
.event-description > p {
	font-family: roboto;
	line-height: 1.5;
	padding-bottom: 30px;
}
.map-class {
	padding-top: 25px;
	text-transform: capitalize;
}
.day-class:before {
	content: "";
	font-family: FontAwesome;
	font-size: 18px;
	padding-left: 1px;
	position: absolute;
	right: 102%;
	text-align: center;
}
.map-class:before {
	content: "";
	font-family: FontAwesome;
	font-size: 20px;
	padding-left: 1px;
	position: absolute;
	right: 102%;
	text-align: center;
}
.important-people {
	padding-top: 122px;
	background: lightpink;
}
.img-section {
	padding-top: 110px;
	background: #c5e0dc;
	/*background: rgba(255, 192, 203, 0.79);*/
	padding-bottom: 190px;
}
.owl-prev, .owl-next {
	font-size: 0px;
}
#people .owl-prev:before, #wedding-item .owl-prev:before, .team-slider .owl-prev:before, #partner-slider .owl-prev:before {
	content: "";
	font-family: FontAwesome;
	font-size: 30px;
	position: absolute;
	right: -87px;
	top: 37%;
	color: #fff;
	width: 63px;
	height: 63px;
	border: 2px solid #fff;
	text-align: center;
	padding-top: 15px;
	display: inline-block;
	background: transparent;
}
#wedding-item .owl-prev:hover:before, #wedding-item .owl-next:hover:after, .team-slider .owl-next:hover:after, #partner-slider .owl-next:hover:after{
	background: #f1d4af;
	border: 1px solid #fff;
	color: #fff;
}
#wedding-item .owl-prev:before, .team-slider .owl-prev:before, #partner-slider .owl-prev:before {
	top: 30%;
	background: transparent;
	color: #f1d4af;
	border: 1px solid #f1d4af;
}
#people .owl-next:after, #wedding-item .owl-next:after, .team-slider .owl-next:after, #partner-slider .owl-next:after {
	content: "";
	font-family: FontAwesome;
	font-size: 30px;
	position: absolute;
	left: -86px;
	top: 37%;
	color: #fff;
	width: 63px;
	height: 63px;
	border: 2px solid #fff;
	background: transparent;
	text-align: center;
	padding-top: 15px;
	display: inline-block;
}
#wedding-item .owl-next:after, #partner-slider .owl-next:after {
	top: 30%;
	background: transparent;
	color: #f1d4af;
	border: 1px solid #f1d4af;
}
.owl-pagination {
	text-align: center;
}
#partner-slider .owl-prev:hover:before{
	color: #fff;
}
.tparrows.tp-leftarrow, .tparrows.tp-rightarrow {
	border: 1px solid #fff;
	height: 65px;
	width: 65px;
	z-index: 99;
	position: absolute;
	top: 50% !important;
	cursor: pointer;
	background: none;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}
.slotholder {
	transform: none !important;
}
.tparrows.tp-leftarrow:before, .tparrows.tp-rightarrow:before {
	content: "\f104";
	color: #fff;
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	text-align: center;
	font-size: 36px;
	font-family: 'FontAwesome';
	transform: translateY(-50%);
}
.tparrows.tp-rightarrow:before {
	content: "\f105";
	font-family: 'FontAwesome';
}
.tp-bullets {
	bottom: 38px !important;
	left: 0 !important;
	margin: 0 auto;
	right: 0 !important;
	top: auto !important;
	width: 100px !important;
	-webkit-transform: none !important;
	-moz-transform: none !important;
	-ms-transform: none !important;
	-o-transform: none !important;
	transform: none !important;
}
#people .owl-page, #wedding-item .owl-page, .team-slider .owl-page, .tp-bullet, .friend-wishes .owl-page, #partner-slider .owl-page {
	width: 15px;
	height: 15px;
	background: #cacfd7;
	border: 2px solid #fff;
	display: inline-block;
	margin-top: 42px;
	margin-right: 12px;
	-ms-transform: rotate(45deg); /* IE 9 */
	-webkit-transform: rotate(45deg); /* Safari */
	transform: rotate(45deg); /* Standard syntax */
}
.tp-bullet, #people .owl-page, #wedding-item .owl-page{
	border-width: 1px;
}
.team-slider .owl-page {
	margin-top: 64px;
}
#partner-slider .owl-page {
	margin-top: 53px;
}
.tp-bullet {
	margin-top: 0;
	cursor: pointer;
	position: static;
}
#people {
	position: relative;
}
#people .img {
	margin: 0 15px;
}
#people .overlay {
	background: #f9f9f4;
	padding: 20px 15px;
	display: inline-block;
	width: 100%;
	text-align: center;
}
#people-thought {
	padding-top: 40px;
}
.para-wrapper {
	background: #fff;
	padding: 45px 31px;
}
.quoto {
	margin: 0 15px;
}
.quoto .overlay {
	width: 100%;
	padding: 11px 31px;
	background: #f2efe1;
}
.item img {
	display: block;
	width: 100%;
}
.overlay > span {
	text-transform: capitalize;
	text-align: center;
	font-size: 24px;
	color: #774f38;
	font-family: 'Roboto Slab', serif;
	font-weight: 500;
}
.friend-wishes {
	padding-top: 110px;
	background: #f9f9f4;
	padding-bottom: 136px;
}
.quoto .overlay figure {
	float: left;
	border-radius: 1px solid #f2efe1;
}
.quoto > p {
	min-height: 207px;
}
.overlay .profile-info {
	display: inline-block;
	padding: 13px 15px;
	text-align: left;
}
.profile-info strong {
	font-size: 18px;
	display: block;
	line-height: 1.4;
	margin-bottom: 7px;
}
.profile-info span {
	font-size: 12px;
	display: block;
	text-transform: capitalize;
}
#wedding-item .item, #partner-slider .item {
	padding: 0 15px;
	text-align: center;
}
.gift-class {
	border: 2px solid #f3d9b8;
	text-align: center;
	background: #fff;
	padding: 35px 0 36px;
}
.item .gift-class img {
	display: inline-block;
	width: auto;
}
.touch {
	padding-top: 100px;
	padding-bottom: 80px;
	background: #fff;
	text-align: center;
}
.touch span {
	font-size: 36px;
	font-family: "playfair display";
	font-style: italic;
	color: #757575;
	float: left;
}
.touch-class {
	font-size: 18px;
	color: #fff;
	padding: 17px 20px;
	text-transform: uppercase;
	float: right;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
}
.btn, input.btn, button.btn {
	background: none;
	border: 1px solid #e08e79;
	color: #e08e79;
	cursor: pointer;
	display: inline-block;
	font-size: 14px;
	letter-spacing: 1px;
	line-height: 24px;
	padding: 12px 20px;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	margin: 0 5px;
}
.gallery-part {
	padding-top: 119px;
	text-align: center;
	padding-bottom: 115px;
	background: rgb(255, 233, 232);
	/*background: #f9f9f4;*/
	/*background: lightpink;*/
}
.tabbing-wrapper {
	margin-bottom: 70px;
}
.gallery-part .gallery-blog {
	text-align: center;
}
.gallery-img-sec {
	margin-bottom: 70px;
}
.gallery-blog ul li {
	float: left;
	width: 25%;
	position: relative;
}
.gallery-blog ul li a, .fancybox-button > img {
	display: block;
	width: 100%;
}
.fancybox-overlay {
	background: rgba(0,0,0,0.8);
}
.attending-class {
	background: url('../images/email-banner.jpg') no-repeat top right;
	-webkit-background-size: cover;
	background-size: cover;
	height: auto;
	padding-top: 100px;
	padding-bottom: 100px;
}
.rsvp-wrapper {
	background-color: #e08e79;
	padding: 65px 31px 71px;
	background-image: url("../images/email-left-top-img.png"), url("../images/email-top-img.png"), url("../images/email-left-btom-img.png"), url("../images/email-right-btm-icom.png");
	background-position: 17px 17px, 98% 17px, 14px 97%, 98% 97%;
	background-repeat: no-repeat;
}
.wedding-gift {
	padding-top: 110px;
}
.wedding-gift .header-center {
	margin: 0 0 30px;
}
.sub-para {
	width: 600px;
	font-size: 16px;
	font-weight: 300;
	font-family: 'Roboto';
	color: #757575;
	display: inline-block;
	text-align: center;
	padding-bottom: 60px;
}
.wedding-section-gift {
	padding-top: 110px;
	padding-bottom: 138px;
	background: #f9f9f4;
}
.sub-para p {
	line-height: 1.5;
	font-family: roboto;
	color: #757575;
	font-size: 16px;
}
.rsvp-wrapper h3 {
	color: #fff;
	font-size: 30px;
	text-transform: uppercase;
	line-height: 1.3;
	border-bottom: 2px solid #fff;
	display: inline-block;
	padding-bottom: 15px;
	font-weight: 400;
}
.rsvp-wrapper .plz-cls {
	color: #fff;
	font-size: 16px;
	font-weight: 300;
	display: block;
	margin-bottom: 20px;
	font-family: roboto;
}
.inner-wrapper {
	overflow: hidden;
}
.inner-wrapper .input-box {
	float: left;
	width: 50%;
	margin-bottom: 15px;
}
.inner-wrapper .input-box:first-child {
	padding-right: 10px;
}
.inner-wrapper .input-box:last-child {
	padding-left: 10px;
}
.inner-wrapper .input-box  input {
	width: 100%;
	border: 2px solid #ece5ce;
	background: transparent; /*#e08e79;*/
	color: #fff;
	text-align: left;
	font-family: roboto;
	font-weight: 400;
	font-size: 16px;
	padding-bottom: 5px;
}
.error-msg{
	display: block;
	text-align: left;:left;
	color:#DA1313;
}
#contactSuccess {
 
    left: 0;
    right: 0;
    width: 500px;
    margin: 0 auto 5px;
    top: auto;
}
#contactSuccess span {
    font-size: 18px;
    font-family: "noto_serifitalic";
    color: #629060;
    display: inline-block;
}
.rsvp-wrapper form textarea {
	padding: 3px 12px 0 12px;
	height: 92px;
	margin-bottom: 47px;
}
.inner-wrapper #mail {
	padding: 13px 15px;
}
.btn-default:hover {
	color: #fff;
}
form textarea {
	width: 100%;
	border: 2px solid #ece5ce;
	font-family: roboto;
	resize: none;
}
form placeholder {
	text-transform: uppercase;
	color: #fff;
}
/*========Home Agency=======*/
.padd-left {
	padding-left: 0;
}
.padd-right {
	padding-right: 0;
}
.padd-zero {
	padding: 0;
}
.home-agency {
	font-family: 'Roboto', sans-serif;
}
.home-agency .banner {
	position: relative;
}
.home-agency .slotholder {
	-webkit-transform: none !important;
	-moz-transform: none !important;
	-ms-transform: none !important;
	-o-transform: none !important;
	transform: none !important;
}
.home-agency .banner .banner-caption {
	text-align: center;
	position: absolute;
	top: 53%;
	left: 0;
	right: 0;
	margin: 0 auto;
	width: 891px;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}
.home-agency #slider1 .tp-caption.NotGeneric-Title.tp-resizeme.splitted {
	white-space: normal !important;
}
.home-agency .banner .banner-caption .h1 {
	font-size: 48px !important;
	line-height: 72px !important;
	color: #ffffff !important;
	font-weight: 700 !important;
	letter-spacing: 19px !important;
	letter-spacing: 8px !important;
	font-family: 'Roboto', sans-serif !important;
	text-shadow: 10px 10px 20px rgba(0, 0, 0, 0.9) !important;
}
.home-agency .banner img {
	height: 958px;
}
.home-agency .what-we-do .info-wrap {
	text-align: center;
	width: 770px;
	margin: 0 auto;
}
.home-agency .what-we-do {
	padding: 102px 0 59px 0;
}
.home-agency  h2 {
	color: #bcbba6;
	font-weight: 700;
	font-family: 'Roboto', sans-serif;
	letter-spacing: 7px;
	position: relative;
	padding-bottom: 47px;
	margin-bottom: 31px;
}
.home-agency  h2:after {
	position: absolute;
	content: "";
	background: url(../images/agency-divider1.png) no-repeat;
	width: 231px;
	height: 12px;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
}
.home-agency  p {
	line-height: 24px;
	padding-bottom: 59px;
	color: #757575;
}
.home-agency #people-thought .para-wrapper  p {
	padding-bottom: 34px;
}
.home-agency .what-we-do .event-img {
	position: relative;
	margin-bottom: 69px;
}
.home-agency .what-we-do .event-img span {
	display: block;
}
.home-agency .what-we-do .event-img a {
	width: 97px;
	height: 98px;
	background: #c5e0dc;
	border-radius: 50%;
	position: absolute;
	left: 0;
	right:0;
	margin:0 auto;
	bottom: -49px;
	text-align: center;
}
.home-agency .what-we-do .event-img a i {
	font-size: 36px;
	color: #ffffff;
	position: relative;
	top: 30%;
}
.home-agency .what-we-do  .event {
	text-align: center;
}
.home-agency .what-we-do .event h3 a{
	font-size: 30px;
	display: block;
	font-family: 'Roboto Slab', serif;
	position: relative;
	padding-bottom: 23px;
	margin-bottom: 28px;
	font-weight: 300;
	letter-spacing: 0px;
	text-transform: none;
}
.home-agency .what-we-do .event h3 a:after{
	position: absolute;
	content: "";
	background: #f5e8d4;
	width: 70px;
	height: 2px;
	bottom: 0;
	left: 0;
	right:0;
	margin: 0 auto;
}
.highlight {
	color: #c5e0dc;
}
.home-agency .services {
	background: url(../images/agency-bg1.jpg) center 0 no-repeat;
	padding: 117px 0 72px 0;
	-webkit-background-size: cover;
	background-size: cover;
}
.home-agency .services .info-wrap {
	text-align: center;
	width: 770px;
	margin: 0 auto;
}
.home-agency .services .info-wrap h2 {
	color: rgba(82,86,82,0.8);
	margin-bottom: 27px;
}
.home-agency .services .info-wrap h2:after {
	background: url(../images/agency-divider3.png) no-repeat;
}
.home-agency .services .info-wrap p {
	font-family: 'Maven Pro', sans-serif;
	color: #525652;
	font-weight: 400;
}
.home-agency .services .circle {
	width: 263px;
	height: 263px;
	border-radius: 50%;
	border: 1px solid #ffffff;
	display: block;
	background: rgba(0, 0, 0, 0.2);
	text-align: center;
	position: relative;
	margin-left: 0px;
	margin-bottom: 49px;
}
.home-agency .services .circle:hover {
	background: rgba(0,0,0, 0.7);
	-webkit-transition: ease 0.5s;
	-moz-transition: ease 0.5s;
	-ms-transition: ease 0.5s;
	-o-transition: ease 0.5s;
	transition: ease 0.5s;
}
.home-agency .services  .circle .type-name {
	position: absolute;
	top: 52%;
	left:50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.home-agency .services .circle .type-name span {
	display: block;
	font-size: 18px;
	line-height: 42px;
	color: #ffffff;
	font-family: 'Roboto Slab', serif;
	padding-top: 9px;
}
.home-agency .services .info-wrap  p {
	padding-bottom: 86px;
}
.home-agency .services .circle:hover span{
	color: #c5e0dc;
}
.home-agency .how-we-do {
	padding: 117px 0 0 0;
	background: #f9f9f4;
}
.home-agency .how-we-do .info-wrap {
	text-align: center;
	width: 760px;
	margin: 0 auto;
}
.home-agency .how-we-do .info-wrap h2 {
	margin-bottom: 27px;
}
.home-agency .how-we-do  .event {
	text-align: center;
	border: 1px solid #dfece8;
	padding: 66px 20px 5px;
	background: #fff;
}
.home-agency .how-we-do .event:hover {
	border: 1px solid #ecc3b6;
}
.home-agency .touch-class {
	background: #3f3f3f;
	margin-top: 16px;
}
.home-agency .how-we-do .event a {
	width: 97px;
	height: 98px;
	background: #c5e0dc;
	border-radius: 50%;
	position: absolute;
	left: 37%;
	top: -49px;
	text-align: center;
}
.home-agency .how-we-do .event a i {
	font-size: 36px;
	color: #ffffff;
	position: relative;
	top: 30%;
}
.home-agency .how-we-do .info-wrap p {
	padding-bottom: 110px;
	font-weight: 400;
}
.home-agency .detail h3 a, .home-agency .post-blog h3 a {
	font-size: 30px;
	display: block;
	font-family: 'Roboto Slab', serif;
	position: relative;
	padding-bottom: 23px;
	margin-bottom: 31px;
	font-weight: 300;
}
.home-agency .detail h3 a{
	padding-bottom: 15px;
	margin-bottom: 0;
}
.home-agency .detail h3{
	margin-bottom: 24px;
}
.home-agency .post-blog  h3{
	margin-bottom: 16px;
}
.home-agency .post-blog h3 a{
	font-weight: 400;
}
.home-agency .detail h3 a:after, .home-agency .post-blog h3 a:after {
	position: absolute;
	content: "";
	background: transparent;
	width: 70px;
	height: 2px;
	bottom: 0;
	left: 0;
}
.home-agency .how-we-do .event strong {
	font-size: 30px;
	color: #e08e79;
	display: block;
	font-family: 'Roboto Slab', serif;
	position: relative;
	padding-bottom: 23px;
	margin-bottom: 31px;
	font-weight: 300;
}
.home-agency .how-we-do .event strong:after {
	position: absolute;
	content: "";
	background: #f5e8d4;
	width: 70px;
	height: 2px;
	bottom: 0;
	left: 40%;
}
.home-agency .portfolio {
	padding: 116px 0 121px;
	background: #f9f9f4;
}
.home-agency .portfolio .info-wrap {
	text-align: center;
	width: 66%;
	margin: 0 auto 75px;
}
.home-agency .portfolio .info-wrap h2 {
	margin-bottom: 64px;
}
.btn, input.btn, button.btn {
	background: none;
	border: 1px solid #e08e79;
	color: #e08e79;
	cursor: pointer;
	display: inline-block;
	font-size: 14px;
	letter-spacing: 1px;
	line-height: 24px;
	padding: 10px 20px;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	margin: 0 5px;
}
.home-agency .portfolio ul li {
	width: 25%;
	float: left;
}
.home-agency .portfolio ul {
	margin-bottom: 72px;
}
.home-agency .portfolio .gallery-blog {
	text-align: center;
}
.what-we-do .info-wrap {
	text-align: center;
	width: 770px;
	margin: 0 auto;
}
.what-we-do {
	padding: 102px 0 59px 0;
}
.home-agency .about-us {
	padding: 116px 0 0 0;
}
.home-agency .about-us .info-wrap {
	text-align: center;
	width: 66%;
	margin: 0 auto 65px;
}
.home-agency .about-us .blog-wrap .detail {
	width: 50%;
	float: left;
	background-image: url(../images/icon-left-top.png), url(../images/icon-right-top.png), url(../images/icon-left-bottom.png), url(../images/icon-right-bottom.png);
	background-position: 18px 20px, 97.6% 20px, 20px 97.6%, 97.6% 97.6%;
	background-repeat: no-repeat;
	padding: 182px 50px 184px;
	background-color: #f9f9f4;
	height: 746px;
}
.home-agency .about-us .blog-wrap .detail .para1 {
	font-size: 36px;
	line-height: 48px;
	color: #774f38;
	text-align: left;
	font-style: italic;
	font-family: 'Playfair Display', serif;
	padding-bottom: 37px;
	font-weight: 400;
}
.home-agency .about-us .blog-wrap .detail .para2 {
	font-size: 24px;
	line-height: 36px;
	color: #774f38;
	padding-bottom: 8px;
}
.home-agency .about-us .blog-wrap .video {
	width: 50%;
	float: right;
	position: relative;
	height: 746px;
}
.video iframe {
	bottom: 0;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 9;
}
.home-agency .about-us .blog-wrap .video img {
	height: 100%;
	width: 100%;
}
.home-agency .about-us .blog-wrap .video a, .blog-post-wrapper  figure .control a {
	width: 168px;
	height: 168px;
	border-radius: 50%;
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	border: 9px solid #ffffff;
	display: block;
}
.home-agency .about-us .blog-wrap .video a .fa-play, .blog-post-wrapper  figure .control a  i {
	font-size: 72px;
	color: #ffffff;
	position: relative;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.blog-post-wrapper  figure .control a  i {
	left: 0;
}
.home-agency .our-team {
	padding: 114px 0 126px 0;
}
.home-agency .quoto .overlay {
	background: #f2efe1;
}
.home-agency .our-team .info-wrap, .home-agency .friend-wishes .info-wrap, .home-agency .get-touch .info-wrap, .home-agency .wedding-gift .info-wrap {
	text-align: center;
	width: 66%;
	margin: 0 auto 65px;
}
.home-agency .partner-sec {
	background: #ffffff;
	padding-top: 0px;
}
.home-agency #people-thought {
	padding-top: 0px;
}
.home-agency .our-team .group figure {
	margin-bottom: 43px;
}
.home-agency .our-team .group {
	margin: 0 15px;
}
.home-agency .our-team .group .detail strong:after {
	left: 0;
}
.home-agency .our-team .group .detail strong {
	margin-bottom: 21px;
	padding-bottom: 21px;
}
.home-agency .our-team .group .detail span {
	font-size: 20px;
	font-family: 'Playfair Display', serif;
	color: #757575;
	font-style: italic;
	padding-bottom: 29px;
	display: block;
}
.home-agency .our-team .group .detail >  a {
	width: 48px;
	height: 48px;
	border-radius: 50%;
	border: 1px solid #f1d4af;
	display: inline-block;
	margin-right: 11px;
}
.home-agency .our-team .group .detail a i {
	font-size: 24px;
	color: #f1d4af;
	position: relative;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.home-agency .our-team .group .detail a:hover i{
	color:#fff;
}
.home-agency .our-team p {
	padding-bottom: 36px;
	width: 365px;
}
.home-agency .owl-next::after {
	background: #ffffff;
	border: 1px solid #f1d4af;
	color: #f1d4af;
	top: 23%;
}
.home-agency .owl-prev:before {
	background: #ffffff;
	border: 1px solid #f1d4af;
	color: #f1d4af;
	top: 23%;
}
.home-agency .owl-prev:hover:before{
	color:#fff;
}
.home-agency .owl-controls .owl-pagination {
	text-align: center;
}
.home-agency .status ul {
	margin-bottom: 0;
}
.home-agency .status ul li {
	width: 25%;
	list-style: none;
	float: left;
	text-align: center;
	padding: 114px 0;
}
.home-agency .status ul li i {
	font-size: 72px;
	color: #3f3f3f;
}
.home-agency .status ul li .counter {
	display: block;
	font-size: 48px;
	line-height: 65px;
	color: #3f3f3f;
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 700;
}
.home-agency .status ul li .type {
	display: block;
	font-size: 18px;
	line-height: 18px;
	color: #3f3f3f;
	font-weight: 300;
}
.home-agency .status ul li:nth-child(odd) {
	background: #c5e0dc;
}
.home-agency .status ul li:nth-child(even) {
	background: #d6e9e6;
}
.home-agency .recent-posts {
	padding: 118px 0 101px;
}
.home-agency .recent-posts .info-wrap {
	text-align: center;
	width: 66%;
	margin: 0 auto 65px;
}
.home-agency .recent-posts figure {
	margin-bottom: 22px;
	text-align: right;
}
.home-agency .recent-posts .timing-blog {
	font-size: 14px;
	color: #bcbba6;
	display: block;
	line-height: 21px;
	margin-bottom: 12px;
}
.home-agency .recent-posts .timing-blog span {
	padding: 0 3px;
}
.home-agency .recent-posts  h3 a {
	font-size: 20px;
	padding-bottom: 20px;
	margin-bottom: 17px;
}
.home-agency .recent-posts  h3 a:after {
	left: 0;
}
.home-agency .recent-posts .btn, input.btn, button.btn {
	padding: 10px 15px;
}
.home-agency .recent-posts .btn {
	margin: 0;
}
.home-agency .recent-posts p {
	padding-bottom: 30px;
}
.home-agency .recent-posts .post-blog {
	margin-bottom: 20px;
}
.home-agency .wedding-plan {
	padding: 52px 0 66px;
	background: #c5e0dc;
	text-align: center;
}
.home-agency .wedding-plan span {
	font-family: 'Playfair Display', serif;
	display: inline-block;
	font-size: 36px;
	line-height: 72px;
	font-style: italic;
	color: #3f3f3f;
	width: 85%;
}
.home-agency .wedding-plan .btn {
	font-size: 18px;
	line-height: 26px;
	background-color: #3f3f3f;
	border: 0;
	color: #ffffff;
	width: 14%;
	vertical-align: middle;
}
.home-agency .get-touch {
	background: url('../images/get-touch-banner.jpg') no-repeat top center;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
}
.home-agency .wedding-plan .btn:hover {
	background: none;
}
.home-agency .sec-block a {
	font-size: 16px;
	color: #e08e79;
	margin-right: 5px;
	text-transform: capitalize;
}
.home-agency .sec-block .mail {
	display: inline-block;
	font-size: 16px;
	padding-left: 8px;
}
.home-agency .get-touch .info-wrap p {
	width: 600px;
	margin: 0 auto;
}
.home-agency  .rsvp-wrapper h3 {
	text-transform: capitalize;
}
.home-agency .rsvp-wrapper h3 {
	border-color: #f1d4af;
	border-width: 3px;
}
/*========Blog Page========*/
.parallax-window {
	min-height: 335px;
	background: transparent;
}
.blog .banner, .event-page .banner, .travel-page .banner {
	min-height: 335px;
}
.blog .banner-content-wrapper, .event-page .banner-content-wrapper, .travel-page .banner-content-wrapper {
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	bottom: auto;
	padding: 0 0 38px 0;
}
.blog .banner-content-wrapper, .event-page .banner-content-wrapper, .travel-page .banner-content-wrapper {
	background: none;
}
.padd-right {
	padding: 0px;
}
.blog .blog-page-content, .event-page .blog-page-content, .travel-page .blog-page-content {
	padding-top: 121px;
}
.blog .blog-page-content {
	padding-bottom: 99px;
}
.blog .banner-content-wrapper h1, .event-page .banner-content-wrapper h1, .travel-page .banner-content-wrapper h1 {
	color: #fff;
	text-transform: uppercase;
}
.blog .banner-content-wrapper h1:after, .event-page .banner-content-wrapper h1:after, .travel-page .banner-content-wrapper h1:after {
	background: rgba(0, 0, 0, 0) url("../images/agency-divider2.jpg") no-repeat 0 0;
	bottom: 0px;
	content: "";
	height: 2px;
	left: 0;
	right: 0;
	margin: 0 auto;
	position: absolute;
	width: 73px;
}
.blog .blog-post-wrapper figure {
	margin-bottom: 30px;
	text-align: right;
	position: relative;
}
.blog .blog-post-wrapper .post-blog {
	margin-bottom: 20px;
}
.blog .blog-post-wrapper .timing-blog {
	color: #bcbba6;
	display: block;
	font-size: 14px;
	line-height: 21px;
	margin-bottom: 17px;
}
.blog .blog-post-wrapper .timing-blog  span {
	margin-right: 12px;
	display: inline-block;
	margin-left: 5px;
}
.blog .blog-post-wrapper .post-blog h2 a {
	font-size: 30px;
	padding-bottom: 24px;
	margin-bottom: 24px;
	font-weight: 400;
	font-family: "Roboto Slab", serif;
	position: relative;
	display: block;
	letter-spacing: 0px;
	text-transform: none;
	cursor: pointer;
}
.blog .blog-post-wrapper .post-blog h2{
	padding-bottom: 0;
}
.blog .blog-post-wrapper .blog-from h2{
	padding-bottom: 18px;
}
.blog .blog-post-wrapper .post-blog h2 a:after {
	background:red;
	bottom: 0;
	content: "";
	height: 2px;
	left: 0;
	position: absolute;
	width: 70px;
}
.blog .blog-post-wrapper .post-blog p {
	color: #757575;
	line-height: 28px;
	padding-bottom: 39px;
	font-weight: 300;
	font-size: 16px;
	font-family: "Roboto", serif;
}
.blog  .blog-post-wrapper.padding {
	padding: 0;
}
.blog .blog-post-wrapper {
	padding-top: 74px;
}
.blog .aside-section input[type="text"] {
	background: #fff;
	color: #757575;
	padding-left: 40px;
	font-family: 'Roboto';
	font-weight: 400;
}
.blog input::-webkit-input-placeholder {
	color: #757575;
	font-family: 'Roboto';
	font-size: 16px;
}
.blog input:-moz-placeholder {/* Firefox 18- */
	color: #757575;
	font-family: 'Roboto';
	font-size: 16px;
}
.blog input::-moz-placeholder {/* Firefox 19+ */
	color: #757575;
	font-family: 'Roboto';
	font-size: 16px;
}
.blog input:-ms-input-placeholder {
	color: #757575;
	font-family: 'Roboto';
	font-size: 16px;
}
.blog .aside-section form {
	width: 100%;
}
.blog .aside-section input {
	width: 100%;
}
.blog .search-box {
	position: relative;
	overflow: hidden;
	padding-bottom: 70px;
}
.tag {
	margin-top: 50px;
}
.blog .aside-section i {
	content: "";
	position: absolute;
	font-size: 19px;
	color: #e08e79;
	font-family: 'FontAwesome';
	left: 11px;
	top: 18px;
	display: inline-block;
}
.categories-wrapper .info-wrap {
	margin-bottom: 4px;
}
.categories-wrapper.recent-post .info-wrap, .categories-wrapper.Instagram .info-wrap {
	margin-bottom: 22px;
}
.blog-single-quotes .media  .info-wrap {
	margin-bottom: 28px;
}
.blog-page-content .blog-from .info-wrap {
	margin-bottom: 38px;
}
.blog-page-content .blog-from button {
	font-family: 'Roboto';
	font-weight: 400;
	font-size: 16px;
}
.blog-page-content .blog-from input[type="text"], .blog-page-content .blog-from input[type="email"] {
	color: #6d6d6d;
}
.blog-from form textarea {
	color: #6d6d6d;
}
.blog-from form textarea::-moz-placeholder {
	color: #6d6d6d;
}
.blog-from form textarea::-webkit-input-placeholder {
	color: #6d6d6d;
}
.blog-from form textarea::-ms-input-placeholder {
	color: #6d6d6d;
}
.blog-page-content .blog-from input::-moz-placeholder, .blog-page-content .blog-from input::-ms-input-placeholder {
	color: #6d6d6d;
}
.blog-page-content .blog-from input::-webkit-input-placeholder {
	color: #6d6d6d;
}
.blog-page-content .blog-from input:-moz-placeholder {/*/ Firefox 18- /*/
	color: #6d6d6d;
}
.blog-page-content .blog-from input::-moz-placeholder {/*/ Firefox 19- /*/
	color: #6d6d6d;
}
.blog-page-content .blog-from input:-ms-input-placeholder {
	color: #6d6d6d;
}
.categories-wrapper .info-wrap h2, .blog-single-quotes .media  .info-wrap h2 {
	font-size: 24px;
	font-family: "Roboto Slab", serif;
	color: #bcbba6;
	letter-spacing: 0px;
	text-transform: capitalize;
	position: relative;
	padding-bottom: 20px;
	font-weight: 400;
}
.categories-wrapper .info-wrap h2:after, .blog-single-quotes .media  .info-wrap h2:after {
	background: #c5e0dc;
	bottom: 0;
	content: "";
	height: 2px;
	left: 0;
	position: absolute;
	width: 70px;
}
.categories-wrapper ul li {
	border-bottom: 1px solid #e5e5e5;
	padding: 10px 15px;
	padding-left: 0;
}
.categories-wrapper ul li:last-child {
	margin-bottom: 49px;
	border-bottom: none;
}
.categories-wrapper ul li a {
	font-size: 16px;
	font-family: 'Roboto';
	color: #757575;
	display:block;
}
.categories-wrapper ul li a:hover {
	color: #757575;
}
.recent-post-wrapper {
	overflow: hidden;
	margin-bottom: 21px;
}
.recent-post-wrapper figure {
	float: left;
	width: 27%;
}
.recent-post-wrapper figure a{
	display: block;
}
.recent-post-wrapper .recent-update {
	float: left;
	width: 73%;
	padding-left: 20px;
}
.recent-update span {
	color: #bcbba6;
	font-size: 12px;
	font-family: 'Roboto';
	font-weight: 400;
}
.recent-update h4 a {
	font-size: 16px;
	font-family: 'Roboto';
	font-weight: 400;
	color: #757575;
}
.tag ul li {
	float: left;
	padding: 10px 12px;
	border-bottom: 0px;
	padding-left: 0;
}
.Instagram ul li {
	float: left;
	width: 33.33%;
	padding: 0px;
}
.Instagram ul li a img {
	display: block;
}
.tag ul li a {
	font-size: 16px;
}
.next-prev-class {
	float: right;
}
.next-prev-class .pagination > li > a {
	margin-right: 10px;
	border: 1px solid #e08e79;
	border-radius: 0px;
	color: #e08e79;
	font-size: 16px;
	font-family: "Roboto", serif;
}
.next-prev-class .pagination > li:hover a{
	color: #fff;
}
.pagination > li > span {
	font-size: 16px;
	color: #e08e79;
	border: 0px;
	border-radius: 0px;
}
/*=====Blog Detail Page==========*/

.blog-detail-page .quotes {
	background: #f9f9f4;
	padding: 30px 35px 37px;
	border-left: 2px solid #e08e79;
	margin-bottom: 40px;
	margin-left: 35px;
}
.blog-detail-page .blog-single-quotes .quotes p {
	color: #774f38;
	font-family: "Playfair Display", serif;
	font-size: 24px;
	font-style: italic;
	line-height: 1.4;
	text-align: left;
}
.blog-single-quotes .author {
	font-size: 20px;
	font-family: "Roboto", serif;
	color: #e08e79;
}
.blog-single-quotes .share-block {
	float: left;
	margin: 20px 0px;
}
.share-block > li {
	float: left;
	font-size: 16px;
	color: #e08e79;
}
.share-block > li:first-child {
	margin-right: 16px;
	padding-top: 10px;
	text-transform: uppercase;
}
.blog-detail-page .blog-single-quotes .share-block a {
	border: 1px solid #e08e79;
	border-radius: 50%;
	display: inline-block;
	height: 40px;
	margin-right: 11px;
	width: 40px;
	position: relative;
}
.blog-detail-page .blog-single-quotes .share-block li:hover a i{
	color:#fff;
}
.blog-detail-page .pager li > a.next-class:before {
	content: "";
	position: absolute;
	font-size: 22px;
	color: #e08e79;
	height: 40px;
	width: 40px;
	left: -16px;
	top: 13px;
	font-family: 'FontAwesome';
}
.blog-detail-page .pager li > a.privious-class:after {
	content: "";
	position: absolute;
	font-size: 22px;
	color: #e08e79;
	height: 40px;
	width: 40px;
	font-family: 'FontAwesome';
	right: -16px;
	top: 13px;
}
.blog-detail-page .blog-single-quotes .share-block a i {
	color: #e08e79;
	font-size: 19.2px;
	left: 50%;
	position: relative;
	top: 48%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.blog-detail-page .pager li > a.next-class, .blog-detail-page .pager li > a.privious-class, .blog-detail-page .pager li > span {
	display: inline-block;
	font-size: 14px;
	padding: 14px;
	border: 0px;
	border-radius: 0px;
	position: relative;
	text-transform: uppercase;
	
}
.blog-detail-page .pager li > a.next-class {
	margin-right: 11px;
}
.blog-detail-page .pager li > a.privious-class {
	margin-left: 7px;
}
.blog-detail-page .pager li:hover > a.next-class,.blog-detail-page .pager li:hover > a.privious-class{
	background: transparent;
}
.blog-single-quotes .pager {
	float: right;
	margin-bottom: 0;
	margin-top: 15px;
}
.blog-single-quotes .pager li {
	display: inline-block;
	position: relative;
}
.blog-single-quotes .inner-footer-wrapper {
	border-top: 1px solid #eee8d4;
	border-bottom: 1px solid #eee8d4;
}
.blog-single-quotes .pager li:first-child:after {
	content: "";
	width: 2px;
	height: 18px;
	right: -1px;
	top: 17px;
	background: #e08e79;
	position: absolute;
}
.blog-single-quotes .media {
	border-bottom: 1px solid #ece5ce;
	margin-top: 35px;
	padding-bottom: 35px;
}
.blog-single-quotes .media.margin-top, .blog-single-quotes .media.margin {
	margin-top: 70px;
}
.blog-single-quotes .media.margin {
	padding-bottom: 64px;
}
.blog-page-content .media-object {
	max-width: none;
}
.blog-single-quotes .media .media-body p {
	padding-bottom: 10px;
}
.blog-single-quotes .media-middle {
	vertical-align: top;
}
.blog-single-quotes .media .media-body .all-post {
	font-size: 16px;
	font-family: "Roboto", serif;
}
.blog-single-quotes .media .media-heading .by-class {
	font-size: 16px;
	color: #757575;
	font-family: "Roboto", serif;
	font-weight: 300;
}
.blog-single-quotes .media .media-heading {
	font-size: 16px;
}
.blog-single-quotes .media .emma {
	float: left;
}
.blog-single-quotes .media  .rply-class {
	float: right;
	color: #e08e79;
	font-size: 16px;
	text-transform: uppercase;
}
.blog-single-quotes .media .timing-class {
	float: right;
	color: #bcbba6;
	font-size: 12px;
}
.blog-single-quotes .media .media-left {
	padding-right: 19px;
	position: relative;
}
.blog-single-quotes .media .media-left:after {
	content: '';
	height: 97px;
	width: 1px;
	background: #ece5ce;
	position: absolute;
	right: 0;
	top: 0;
}
.blog-single-quotes .media .media-body {
	padding-left: 18px;
}
.blog-single-quotes .media.no-border {
	border: none;
}
.blog-single-quotes .media.top{
	margin-top: 0;
}
.blog-from {
	padding-top: 30px;
}
.blog-from .inner-wrapper input {
	background: #fff;
	border-color: #f2d7b4;
}
.blog-from textarea::-moz-placeholder, .blog-from input::-moz-placeholder {
	color: #bcbba6;
	font-size: 16px;
	font-weight: 300;
}
.blog-from textarea::-webkit-input-placeholder, .blog-from input::-webkit-input-placeholder {
	color: #bcbba6;
	font-size: 16px;
	font-weight: 300;
}
.blog-from textarea::-ms-input-placeholder, .blog-from input::-ms-input-placeholder {
	color: #bcbba6;
	font-size: 16px;
	font-weight: 300;
}
.blog-from form textarea {
	background: transparent;
	border-color: #f2d7b4;
}
.blog-from form button {
	color: #e08e79;
	border-width: 1px;
}
.blog-single-quotes {
	margin-bottom: 45px;
}
/*======Travel page==========*/
.map-wrap {
	padding-top: 32%;
	position: relative;
}
#map-view, #map {
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}
.travel-page .header-center-content h2 {
	padding-bottom: 45px;
}
.travel-page .header-center-content > p {
	width: 760px;
	margin: 0 auto;
}
.travel-page .left-part-header h3{
	font-weight: 400;
	padding-bottom: 22px;
	margin-bottom: 8px;
}
.event-page .left-inner-header h4{
	padding-bottom: 10px;	
	font-weight: 400;
}
.travel-page .bg-color address span {
	font-weight: 300;
	color: #6d6d6d;
	font-family: "Roboto", serif;
	font-size: 15.92px;
}
.travel-page .bg-color .right-part > p {
	line-height: 1.4;
	margin-bottom: 41px;
}
.travel-page .bg-color .right-part .btn {
	font-size: 16px;
}
.travel-page .left-inner-header h4 {
	margin-bottom: 43px;
	padding-bottom: 9px;
	font-weight: 400;
}
.travel-page .travel-page-content {
	padding-bottom: 53px;
}
/*========= Event Detail Page =============*/
.event-page-content {
	padding-top: 54px;
}
.event-content-section .margin-top{
	padding-top: 97px;
}
.event-content-section {
	padding-bottom: 100px;
	padding-top: 100px;
	background: rgb(255, 233, 232);
}
.event-page .left-part h3{
	padding-bottom: 18px;
	padding-top: 0;
}
.event-page-content .span-wrapper {
	border: 1px solid #f6e4cc;
	padding: 30px 70px 40px;
	text-align: center;
	margin-bottom: 70px;
}
.event-page-content .span-wrapper i {
	font-size: 36px;
	color: #f1d4af;
	display: block;
	text-align: center;
}

.activites .span-wrapper {
	min-height: 180px;
	border: 1px solid #f6e4cc;
	padding: 30px 70px 40px;
	text-align: center;
	margin-bottom: 70px;
}
.activites .span-wrapper i {
	font-size: 36px;
	color: #f1d4af;
	display: block;
	text-align: center;
}

.event-page-content .village-class {
	font-size: 16px;
	color: #6d6d6d;
	margin-top: 20px;
	display: inline-block;
	font-weight: 300;
	text-transform: uppercase;
}
.left-part h3 {
	position: relative;
	font-size: 30px;
	font-weight: 300;
	line-height: 1.3;
	font-family: "Roboto Slab", serif;
	text-transform: capitalize;
	padding-top: 10px;
}
.bg-color h3 {
	position: relative;
}
.left-part h3:before, .bg-color h3:before {
	content: "";
	width: 70px;
	height: 2px;
	background: #f1d4af;
	position: absolute;
	left: 0px;
	bottom: 0;
	color: #f1d4af;
}
.left-part p {
	color: #757575;
	font-size: 16px;
	font-family: "Roboto", serif;
	font-weight: 300;
	line-height: 1.5;
	padding-bottom: 20px;
}
.left-inner-header h4 {
	position: relative;
	font-size: 20px;
	font-weight: 300;
	line-height: 1.3;
	color: #bcbba6;
	font-family: "Roboto Slab", serif;
	text-transform: capitalize;
	padding-top: 10px;
}
.left-inner-header h4:before {
	background: #c5e0dc;
	bottom: -7px;
	content: "";
	height: 2px;
	left: 0;
	position: absolute;
	width: 70px;
}
.left-part ul li {
	float: left;
	width: 50%;
	font-size: 16px;
	color: #757575;
	margin-bottom: 4px;
	position: relative;
	padding-left: 25px;
}
.left-part ul li:before {
	content: "";
	left: 0;
	top: 0;
	position: absolute;
	display: inline-block;
	width: 30px;
	height: 30px;
	font-family: FontAwesome;
	color: #c5e0dc;
}
.packages ul li {
	float: left;
	width: 50%;
	font-size: 16px;
	color: #757575;
	margin-bottom: 4px;
	position: relative;
	padding-left: 25px;
}
.packages ul li:before {
	content: "";
	left: 0;
	top: 0;
	position: absolute;
	display: inline-block;
	width: 30px;
	height: 30px;
	font-family: FontAwesome;
	color: #c5e0dc;
}
.bg-color {
	background: #f9f9f4;
	margin-bottom: 70px;
}
.bg-color .left-part > figure {
	margin-left: -15px;
}
.bg-color .right-part {
	padding-top: 40px;
}
.left-part-header h3 a{
	cursor:pointer;
}
.bg-color address span {
	display: block;
	font-size: 16px;
	line-height: 1.6;
	padding-left: 20px;
}
.bg-color address span:second-child {
	margin-bottom: 20px;
	display: inline-block;
}
.bg-color address {
	position: relative;
	padding: 22px 0px;
}
.bg-color address .add-map, .bg-color address .add-phone {
	position: absolute;
	left: 0;
	top: 28px;
	display: inline-block;
	font-size: 16px;
	color: #6d6d6d;
}
.bg-color address .add-phone {
	left: 0;
	top: 54px;
}
.bg-color .right-part > p {
	line-height: 1.4;
	margin-bottom: 26px;
}

/*======Error page ========*/
.error-content {
	padding: 57px 0px 84px;
	background: #f9f9f4;
}
.error-header h1 {
	color: #c5e0dc;
	font-size: 144px;
	font-family: "Roboto Slab", serif;
	font-weight: 700;
	letter-spacing: 7px;
	margin-bottom: 27px;
	padding-bottom: 0;
	display: block;
}
.sorry-cls {
	display: block;
	color: #e08e79;
	float: none;
	font-family: "Roboto", serif;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 48px;
	margin-bottom: 13px;
	letter-spacing: 7px;
}
.error-header .page {
	display: inline-block;
	font-size: 24px;
	color: #757575;
	line-height: 1.4;
}
.btn-wrapper .bg-white {
	background: #fff;
	padding: 10px 40px;
	font-family: 'Maven Pro', sans-serif;
	font-weight: 400;
	width: 162px;
	font-size: 16px;
	font-weight: 500;
	letter-spacing: 0px;
}
.btn-wrapper .bg-white:hover {
	-webkit-transition: ease 0.5s;
	-moz-transition: ease 0.5s;
	-ms-transition: ease 0.5s;
	-o-transition: ease 0.5s;
	transition: ease 0.5s;
}
.error-header .btn-wrapper {
	display: block;
	padding-top: 52px;
	padding-bottom: 40px;
}
.left-inner-header .park-class {
	font-size: 16px;
	line-height: 1.4;
	padding: 10px 20px;
	border: 1px solid #e08e79;
	color: #e08e79;
	display: block;
	margin-bottom: 24px;
	position: relative;
	background: #ffffff;
}
.left-inner-header .park-class:after {
	content: "";
	width: 1px;
	height: 43px;
	right: 38px;
	top: 0px;
	position: absolute;
	color: #e08e79;
	background: #e08e79;
}
.left-inner-header .park-class:before {
	content: "\f095";
	font-family: FontAwesome;
	font-size: 24px;
	color: #e08e79;
	right: 14px;
	top: 4px;
	position: absolute;
}
.activites {
	padding: 50px 0px 130px;
	background: #f9f9f4;
}
.tp-revslider-mainul li {
	opacity: 0;
}
.attending-class form button {
	font-size: 16px;
	font-weight: 400;
	padding: 13px 44px;
	border-color: #fff;
}
/*====== Switcher Css ==========*/
.bg-grey{
	background: rgba(0,0,0,0.1);
}
#wrapper.boxed{
	margin: 0 auto;
    max-width: 1170px;
    width: 100%;
}
#wrapper.boxed.home,#wrapper.boxed.event-page #header,#wrapper.boxed.event-page .event-page-content,#wrapper.boxed .event-content-section, #wrapper.boxed.blog #header,#wrapper.boxed.blog  #content,#wrapper.boxed.travel-page #header,#wrapper.boxed .travel-page-content,#wrapper.boxed.error #header{
	 background-color: #ffffff;
}
.boxed.home .banner{
	min-height: auto;
}
#wrapper.boxed {
    overflow: hidden !important;
}
#wrapper.boxed  .tp-revslider-mainul{
	width: 1170px !important;
}
#wrapper.boxed .banner-content-wrapper{
	width: 55%;
}
#wrapper.boxed .event-description-wrapper{
	width: 555px;
}
#wrapper.boxed .wedding-event .col-sm-push-1{
	left: 0;
}
#wrapper.boxed  .right-footer{
	margin-right: 57px;	
}
#wrapper.boxed .main-footer{
	padding-left: 30px;
	padding-right: 30px;
}
#wrapper.boxed.home-agency .touch-class{
 	margin-right: 15px;
}
#wrapper.boxed .header-cont ,#wrapper.boxed.home-agency.error .header-cont {
	  margin:0 15px;
}
#wrapper.boxed.event-page .header-cont, #wrapper.boxed.blog .header-cont {
	  margin:0 30px;
}
#wrapper.boxed .drop-down,#wrapper.boxed.error .drop-down{
	width: 133px;
}
#wrapper.boxed.home-agency .navigation{
	margin-right: 0px;
}
/*======Loader Styling ========*/
#loading{
	background-color: #e08e79;
	height: 100%;
	width: 100%;
	position: fixed;
	z-index: 9999999;
	margin-top: 0px;
	top: 0px;
}
html{
	overflow-x: hidden;
}
#loading-center{
	width: 100%;
	height: 100%;
	position: relative;
}
#loading-center-absolute {
	position: absolute;
	left: 50%;
	top: 50%;
	height: 200px;
	width: 200px;
	margin-top: -100px;
	margin-left: -100px;
	-ms-transform: rotate(-135deg); 
   	-webkit-transform: rotate(-135deg); 
    transform: rotate(-135deg);
}
.object{
	-moz-border-radius: 50% 50% 50% 50%;
	-webkit-border-radius: 50% 50% 50% 50%;
	border-radius: 50% 50% 50% 50%;
	position: absolute;
	border-top: 5px solid #FFF;
	border-bottom: 5px solid transparent;
	border-left:  5px solid #FFF;
	border-right: 5px solid transparent;	
	-webkit-animation: animate 2s infinite;
	animation: animate 2s infinite;	
	}
#object_one{
	left: 75px;
	top: 75px;
	width: 50px;
	height: 50px;
	}						
#object_two{
	left: 65px;
	top: 65px;
	width: 70px;
	height: 70px;
	-webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
	}		
#object_three{
	left: 55px;
	top: 55px;
	width: 90px;
	height: 90px;
	-webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
	}
#object_four{
	left: 45px;
	top: 45px;
	width: 110px;
	height: 110px;
	-webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
	}	
@-webkit-keyframes animate {
50% {
	-ms-transform: rotate(360deg) scale(0.8); 
   	-webkit-transform: rotate(360deg) scale(0.8); 
    transform: rotate(360deg) scale(0.8); 
  }
}

@keyframes animate {	
50% {
	-ms-transform: rotate(360deg) scale(0.8); 
   	-webkit-transform: rotate(360deg) scale(0.8); 
    transform: rotate(360deg) scale(0.8); 
  }		
	}
/*======Inner Loader Styling ========*/
#inner_loading{
	background-color: rgba(0, 0, 0, 0);
	height: 100%;
	width: 100%;
	position: relative;
	z-index: 9999999;
	top: 0px;
}
#inner_loading-center{
	width: 100%;
	height: 100%;
	position: relative;
}
#inner_loading-center-absolute {
	position: relative;
	height: 200px;
	width: 200px;
	margin: 0 auto;
	-ms-transform: rotate(-135deg);
	-webkit-transform: rotate(-135deg);
	transform: rotate(-135deg);
}
.inner_object{
	-moz-border-radius: 50% 50% 50% 50%;
	-webkit-border-radius: 50% 50% 50% 50%;
	border-radius: 50% 50% 50% 50%;
	position: absolute;
	border-top: 5px solid #b07c87;
	border-bottom: 5px solid rgba(197, 37, 37, 0.38);
	border-left: 5px solid rgb(134, 16, 51);
	border-right: 5px solid transparent;
	-webkit-animation: animate 2s infinite;
	animation: animate 2s infinite;
}*/*/